@import url('https://fonts.cdnfonts.com/css/circular-std');
*{
    font-family: 'Circular Std', sans-serif;
}


body {
    font-family: Open Sans;
    background-color: #1f1d27;
    margin: 0px;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border: 3px solid;
    border-radius: 5px;
    width: 67px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: right;
    background-color: #f4fafffa;
    color: #ff2a50;
    margin: 391px 8px 0px 25px;
    text-align: center;
    transition: 0.5s;
}


.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width: 50%;
    height: 714px;
    margin-bottom: auto;
    margin-left: 3%;
    margin-right: auto;
    padding: 4px 40px 40px 33px;
    background-color: #f4fafffa;
    border: #ff2a50 solid 5px;    
    font-weight: bold;
    border-radius: 12px;
    transition: 0.5s;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}

.header{
    background-color: #1F1D27;
    border-bottom: #ff2a50 4px solid;
    margin: 0px;
}

#logoHeader{
    margin: 0px;
    margin-left: 45px;
    width: 200px;
}

.headerLinks{
    text-align: right;
    margin-right: 50px;
    float: right;
    padding-top: 80px;
    font-size: x-large;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

a{
    color: white;
}

.textdiv {
    background-color: #f4fafffa;
    width: 35%; 
    height: 706px;
    border-radius: 12px;
    padding: 4px 40px 40px 33px;
    margin-left: 5%;
    margin-right: 3%;
    border: #ff2a50 solid 5px;
    transition: 0.5s;
}

.flexcontainer {
    display: flex;
    margin-top: 50px;
}
/* button animation*/
.button:hover {
    background-color: rgb(220, 220, 220);
}
.textdiv:hover {
    border: #ffaebb solid 5px;
}
#container:hover {
    border: #ffaebb solid 5px;
}