@import url('https://fonts.cdnfonts.com/css/circular-std');
*{
    font-family: 'Circular Std', sans-serif;
}


body {
    font-family: Open Sans;
    background-color: #1f1d27;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border: 3px solid;
    border-radius: 5px;
    width: 67px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: right;
    background-color: #f4fafffa;
    color: #ff2a50;
    margin: 391px 8px 0px 25px;
    text-align: center;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width: 50%;
    height: 714px;
    margin-top: 306px;
    margin-bottom: auto;
    margin-left: 3%;
    margin-right: auto;
    padding: 4px 40px 40px 33px;
    background-color: #f4fafffa;
    border: #ff2a50 solid 5px;    
    font-weight: bold;
    border-radius: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}

/* div with text and flexcontainer*/
.textdiv {
    background-color: #f4fafffa;
    width: 35%; 
    height: 714px;
    margin-top: 306px;
    border-radius: 12px;
    padding: 4px 40px 40px 33px;
    margin-left: 5%;
    margin-right: 3%;
    border: #ff2a50 solid 5px;
}
.flexcontainer {
    display: flex;
}

/* button animation*/
.button:hover {
    background-color: rgb(220, 220, 220);
}